.div{
    width: 65%;
    height: 300px;
    margin: 110px;
    padding: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 233, 233);
    border-radius: 5px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    align-items: center;
    margin-top: 4%;
    box-shadow: 0 1px 1px black;
}
.login{
    width:30%;
    margin-left: 140px;
    height: 160px;
    justify-content: center;
    text: shadow 5px;
    
}
.submit{
    padding: 3px;
    width: 215px;
    background-color: #1877f2;
    cursor: pointer;
    color: white;

}
form{
    padding: 20px;
    margin-top: 2%;
    border: 1px solid rgb(238, 233, 233);
    box-shadow: 0 1px 3px black;
}
h1{
    -webkit-text-fill-color: blue;
    
}

button{
    padding: 4px;
    /* width: 210px; */
    margin-top: 15px;
    border: 2px solid rgb(24, 197, 27);
    background-color: rgb(43, 217, 43);
    cursor: pointer;
    text-align: center;
    box-shadow: 0 2px 5px black;
    color: white;
}
    button:hover{
        background-color: rgb(143, 223, 144);
    }
    
input[type='text'], input[type='password']{
    background-color: #fff;
    /* margin-bottom: 15px; */
    padding: 4px;
    box-shadow: 0 2px 5px black;
    border: 1px solid rgb(200,200, 200);
    font-size: 13px;
}
a{
    text-decoration: none;
    justify-content: center;
}
